{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hito</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hito.id }}</td>
            </tr>
            <tr>
                <th>Texto</th>
                <td>{{ hito.texto }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if hito.fecha %}{{ hito.fecha|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('hito_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('hito_edit', { 'id': hito.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
