{% extends 'base.html.twig' %}

{% block body %}
    <h1>Agencia</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ agencia.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ agencia.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('agencia_index') }}" class="btn btn-info btn1" role="button" >Ver listado</a>
    <a href="{{ path('agencia_edit', { 'id': agencia.id }) }}" class="btn btn-primary btn2" role="button">Editar</a>
    {{ form_start(delete_form) }}
        <input type="submit" value="Eliminar" class="btn btn-danger btn2" role="button">
    {{ form_end(delete_form) }}
{% endblock %}
