{% extends 'base.html.twig' %}

{% block body %}
    <h1>Programas</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for programa in programas %}
            <tr>
                <td><a href="{{ path('programa_show', { 'id': programa.id }) }}">{{ programa.id }}</a></td>
                <td>{{ programa.nombre }}</td>
                <td>
                    <a href="{{ path('programa_show', { 'id': programa.id }) }}" class="btn btn-info btn1" role="button">Ver</a>
                    <a href="{{ path('programa_edit', { 'id': programa.id }) }}" class="btn btn-primary btn1" role="button">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('programa_new') }}"class="btn btn-primary " role="button">Nuevo</a>

{% endblock %}
