{% extends 'base.html.twig' %}

{% block body %}
    <h1>Programa</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ programa.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ programa.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('programa_index') }}" class="btn btn-info btn1" role="button" >Ver listado</a>
    <a href="{{ path('programa_edit', { 'id': programa.id }) }}" class="btn btn-primary btn2" role="button">Editar</a>

    {{ form_start(delete_form) }}
        <input type="submit" value="Eliminar" class="btn btn-danger btn2" role="button">
    {{ form_end(delete_form) }}

{% endblock %}
