{% extends 'base.html.twig' %}

{% block body %}
    <h1>Concursos</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fechainicio</th>
                <th>Fechafinal</th>
                <th>Nombre</th>
                <th>Link</th>
                <th>Descripcion</th>
                <th>Color</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for concurso in concursos %}
            <tr>
                <td><a href="{{ path('concurso_show', { 'id': concurso.id }) }}">{{ concurso.id }}</a></td>
                <td>{{ concurso.fechaInicio|date('d-m-Y H:i:s') }}</td>
                <td>{% if concurso.fechaFinal %}{{ concurso.fechaFinal|date('d-m-Y H:i:s') }}{% endif %}</td>
                <td>{{ concurso.nombre }}</td>
                <td>{{ concurso.link }}</td>
                <td>{{ concurso.descripcion }}</td>
                <td>{{ concurso.color }}</td>
                <td>
                    <a href="{{ path('concurso_show', { 'id': concurso.id }) }}" class="btn btn-info btn1" role="button">Ver</a>
                    <a href="{{ path('concurso_edit', { 'id': concurso.id }) }}" class="btn btn-primary btn1" role="button">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('concurso_new') }}"class="btn btn-primary " role="button">Nuevo</a>
{% endblock %}
