{% extends 'base.html.twig' %}

{% block body %}
    <h1>Fondolineas</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fondoLinea in fondoLineas %}
            <tr>
                <td><a href="{{ path('fondolinea_show', { 'id': fondoLinea.id }) }}">{{ fondoLinea.id }}</a></td>
                <td>{{ fondoLinea.nombre }}</td>
                <td>
                    <a href="{{ path('fondolinea_show', { 'id': fondoLinea.id }) }}" class="btn btn-info btn1" role="button">Ver</a>
                    <a href="{{ path('fondolinea_edit', { 'id': fondoLinea.id }) }}" class="btn btn-primary btn1" role="button">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('fondolinea_new') }}"class="btn btn-primary " role="button">Nuevo</a>

{% endblock %}
