{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenido a Gantter {{latestDeadline|date("d/m/Y")}} {{monthsInterval}}</h1>

    {% for agencia in agencias %}
    	<strong>{{ agencia.nombre }} </strong></br>

    	<table class="table table-bordered">

	    	{% for programa in agencia.getProgramas() %}
	    		<thead>
		            <tr>
		                <th>{{ programa.nombre }}</th>
		                <!-- cambiar aqui!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
		                {% for m in range(0, monthsInterval) %}
		                	<th>{{ hoy|date_modify('+' ~ m ~ 'months') | date('M') }}</th>
		                {% endfor %}
		                <!-- cambiar aqui!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
		            </tr>
		        </thead>
		        <tbody>

		    		{% for fondolinea in programa.getFondosLineas() %}
		    			<tr>
		    				<td>{{ fondolinea.nombre }}</td>
		    				{% set busyLeft = 0 %}

					    	<!-- cambiar aqui!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
			                {% for m in range(0, monthsInterval) %}
			                	{% if busyLeft > 0 %}
			                		{% set busyLeft = busyLeft - 1 %}
			                	{% else %}

				                	{% set columnDate =  hoy|date_modify('+' ~ m ~ 'months') %}
				                	{% set free = true %}

				                	{% for concurso in fondolinea.getConcursos() %}
				                		{% if concurso.getFechaInicio()|date('Y-m') == columnDate | date('Y-m')%}
							    			<td colspan="{{concurso.getMonthsLength()}}" style="background: #{{concurso.color}};"><a href="{{ concurso.link}}">{{ concurso.nombre }}</a></td>
							    			{% set free = false %}
							    				{% set busyLeft =  concurso.getMonthsLength() -1 %}
				                		{% endif %}
							    	{% endfor %}

							    	{% if free %}
							    		<td></td>
							    	{% endif %}
							    {% endif %}
			                {% endfor %}

			                <!-- cambiar aqui!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->

					    </tr>

			    	{% endfor %}
		    	</tbody>

	    	{% endfor %}
    	</table>

    {% endfor %}
{% endblock %}
